<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="./Scripts/script.js"></script>
</head>

<body>

    <div ng-app="myApp" ng-controller="employeeController">
        <form id="formEmployeeDetails">
            <input type="hidden" id="employeeId" value="">
            Firstname : <input name="firstName" id="firstName" /><br /><br />
            Lastname : <input name="lastName" id="lastName" /><br /><br />
            Gender : <input name="gender" id="gender" /><br /><br />
            Salary : <input name="salary" id="salary" /><br /><br />
            <input type="button" id="btnSubmit" value="Submit" ng-click="submitBtnClick()">
            <input type="button" id="btnUpdate" style="display: none;" ng-click="updateBtnClick()" value="Update">
        </form>
        <table>
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Gender</th>
                    <th>Salary</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.gender}}</td>
                    <td>{{employee.salary}}</td>
                    <td><a href="" ng-click="editEmployeeDetails(employee.employeeId)">Edit</a></td>
                    <td><a href="" ng-click="deleteBtnClick(employee.employeeId)">Delete</a></td>
                </tr>
            </tbody>
        </table>

    </div>
</body>

</html>