<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="./Scripts/script.js"></script>
    <style>
        body {
            font-family: Arial;
        }

        table {
            border-collapse: collapse;
        }

        td {
            border: 1px solid black;
            padding: 5px;
        }

        th {
            border: 1px solid black;
            padding: 5px;
            text-align: left;
            background-color: #c1c1c1;
            cursor: pointer;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;

        }
    </style>
</head>

<body>

    <div ng-app="myApp" ng-controller="employeeController">
        Rows to display <input type="number" name="points" step="1" min="0" max="5" ng-model="rowLimit">
        <br /><br />
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DoB</th>
                    <th>Gender</th>
                    <th>Salary(number)</th>
                    <th>Salary(currency)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | limitTo:rowLimit">
                    <td>{{employee.name | uppercase}}</td>
                    <td>{{employee.dateOfBirth | date:'dd/MM/yyyy'}}</td>
                    <td>{{employee.gender | lowercase}}</td>
                    <td>{{employee.salary | number:2}}</td>
                    <td>{{employee.salary | currency:'₹'}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</body>

</html>